* {
	margin: 0px;
	padding: 0px;
}
body {
	background-color: #000;
}
.logo {
	position: absolute;
	left: 500px;
}
.letras {
	position: absolute;
	left: 230px;
	top: 100px;
}
.letra {
	position: absolute;
	right: -70px;
	top: 100px;
}
.cima {
	position: absolute;
	width: 118px;
	height: 39px;
	left: 540px;
	top: -180px;
	text-decoration: none;

	font-family: 'Iceland';
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 35px;
	display: flex;
	align-items: flex-end;
	color: white;
}
.deposito {
	position: absolute;
	width: 118px;
	height: 39px;
	left: 650px;
	top: -180px;
	text-decoration: none;

	font-family: 'Iceland';
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 35px;
	display: flex;
	align-items: flex-end;
	color: white;
}
.R0 {
	position: absolute;
	width: 118px;
	height: 39px;
	left: 780px;
	top: -179px;
	text-decoration: none;

	font-family: 'Iceland';
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 35px;
	display: flex;
	align-items: flex-end;
	color: white;
}