* {
	margin: 0px;
	padding: 0px;
}
body {
	background-color: #000;
}
.logo {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	margin-top: 40px;
}

.Linha {
	

	font-family: 'Iceland';
	font-style: normal;
	font-weight: 400;
	font-size: 34px;
	line-height: 35px;

	color: white;
}


.Linha a {
	text-decoration: none;
	color: white;
}

.direita {
	text-align: right;
}

.centro {
	text-align: center;
}

.Pop {

	text-decoration: none;
	margin-top: 150px;
	font-family: 'Iceland';
	font-style: normal;
	font-weight: 400;
	font-size: 34px;
	line-height: 35px;
	display: flex;
	align-items: flex-end;
	color: white;
}

.Rec {
	width: 358px;
	height: 39px;
	margin: 10px;

	font-family: 'Iceland';
	font-style: normal;
	font-weight: 400;
	font-size: 34px;
	line-height: 35px;
	color: white;
}

.lista_rec {
	display: flex;
	margin-top: 20px;
}

.Fut {
	margin-top: 250px;
	text-decoration: none;

	font-family: 'Iceland';
	font-style: normal;
	font-weight: 400;
	font-size: 34px;
	line-height: 35px;
	display: flex;
	align-items: flex-end;
	color: white;
}